main{
    width: 100%;
    height: 30vh;
    overflow: hidden;
    position: relative;
}
.img-slider{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-self: center;
    filter: blur(5px);
}
.img-slider img{
    position: relative;
}
.txt-slider
{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 700;
    font-family: var(--font-legible);
    font-size: 30px;
    flex-flow: row;
}
.txt-slider > div{
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.txt-info
{
    max-width: 400px;
    padding: 10px;
    height: auto !important;
    text-align: center;
    border-radius: 1px;
}
.background-image
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.7);
}
.content-slider
{
    display: flex;
    flex-flow: column;
    max-width: 500px;
}
.logo-slider{
    height: 15vh;
}
.logo-slider img{
    height: 100%;
    width: auto;
}
.btn-slider{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-slider a{
    background: var(--color-green-general);
    color: #fff;
    text-shadow: none;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 30px;
    font-size: 20px;
    display: block;
}
.kimetsu .txt-info,
.kimetsu a{
    background: #fff;
    color: #000;
    border: 3px solid #000;
    font-family: 'Architects Daughter', cursive;
    box-shadow: 0 0 0 4px #ee1c25;
}
.kimetsu .btn-slider a{
    padding: 5px 15px;
    font-size: 26px;
}
.Avatar .txt-info,
.Avatar a{
    font-family: 'The Girl Next Door', cursive;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
    line-height: 40px;
    color: #fff;
}
.Avatar a{
    font-size: 20px;
    font-family: var(--font-legible);
    background: transparent;
}
.arrow
{
    color: #fff;
    position: relative;
    font-size: 24px;
}
.urlBox
{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.wrapper,
.wrapperTwo{
    position: absolute;
    z-index: 20;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,.7);
    height: 100%;
    transition: .2s;
}
.wrapper.hide,
.wrapperTwo.hide{
    visibility: hidden;
    opacity: 0;
}
.guide {
    width: 160px;
    height: 160px;
    border-radius: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .guide  p {
    width: 80%;
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 13px;
    line-height: 1.4;
    font-family: var(--font-legible);
    margin-top: 15px;
  }
  
  .mouse {
    width: 40px;
    height: 40px;
    transform-origin: center bottom;
    animation-name: swinging;
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
  }
  
  .mouse-click,
  .mouse-large-click,
  .mouse-small-click {
    opacity: 0;
    transform-origin: center center;
    animation-name: click;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: forward;
    animation-play-state: running;
  }
  
  
  @keyframes swinging{
      0%{transform: rotate(-10deg) translate3d(-15px, 0, 0) }
      100%{transform: rotate(10deg) translate3d(15px, 0, 0) }
  }
  
  @keyframes click {
      0% { opacity: 0 }
      40% { opacity: 1 }
      100%{ opacity: 1 }
  }
@media(max-width: 780px){
    .txt-info{
        display: none !important;
    }
}
.touch-ad{
    display: none;
}
@media (max-width: 1024px){
    .touch-ad{
        display: inline;
    }
    .click-ad{
        display: none;
    }
}
.swiper-pagination{
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 15px;
    justify-content: center;
    z-index: 10;
}
.swiper-pagination span{
    margin: 0 5px;
    background: white;
    border: 2px solid black;
}
.swiper-button-next, .swiper-button-prev{
    color: white !important;
    top: 0 !important;
    height: 100% !important;
    padding: 0 10px;
    margin-top: 0 !important;
    background: transparent;
    transition: .1s !important;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
    left: 0 !important;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
    right: 0 !important;
}
.swiper-container:hover .swiper-button-next{
    background: rgb(20,29,38);
    background: linear-gradient(270deg, rgba(20, 29, 38, 0.781) 0%, transparent 100%);
} 
.swiper-container:hover .swiper-button-prev{
    background: rgb(20,29,38);
    background: linear-gradient(90deg, rgba(20, 29, 38, 0.781) 0%, transparent 100%);
}
body.light .swiper-container:hover .swiper-button-next{
    background: #ECF0F1;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.445) 0%, transparent 100%);
} 
body.light .swiper-container:hover .swiper-button-prev{
    background: #ECF0F1;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.445) 0%, transparent 100%);
}
@media (max-width: 1024px){
    .swiper-button-prev,
    .swiper-button-next{
        display: none !important;
    }
}